.delivery-banner {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: white;
    display: flex;
    overflow: hidden;
}

.delivery-box {
    width: 50%;
    height: 100%;
}

#textBox {
    padding: 50px 70px;
    position: relative;
    z-index: 2;
}

#textBox h1 {
    font-size: 2.4rem;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;

}

#textBox h2 {
    font-size: 2.8rem;
    width: 60%;
    color: black;
    letter-spacing: 1px;
    line-height: 55px;
    margin-bottom: 15px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;

}

#textBox p {
    font-size: 18px;
    color: rgb(102, 102, 102);
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;

}

.inputBx {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;


}

.inputBx input {
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 30px;
    border: 0.1px solid rgb(131, 131, 131);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: rgb(131, 131, 131);
    text-transform: capitalize;
    
}
.inputBx input:focus{
    outline: 0.2px solid black;
}

.btns .btn {

    padding: 20px 30px;

}

.inputBx .long {
    grid-column: 1/3;
}


#imgBox .guyImg {
    width: 800px;
    height: 900px;
    position: relative;
    right: -60px;
    bottom: 0%;
    z-index: 1;

}

@media (max-width:1200px) {
    #textBox h1 {
        font-size: 2.2rem;

    }

    #textBox h2 {
        font-size: 2.4rem;

    }

}

@media (max-width:1060px) {
    .delivery-box {
        width: 90%;
        height: 100%;
    }

    #textBox {
        padding: 40px 60px;
    }

    #textBox h1 {
        font-size: 2.2rem;

    }

    #textBox h2 {
        font-size: 2.6rem;
        width: 100%;


    }

    #textBox p {
        font-size: 18px;
    }

    #imgBox .guyImg {
        width: 800px;
        height: 800px;
        position: relative;
        right: 35%;
        bottom: 0%;

    }

}


@media (max-width:850px) {
    #textBox h1 {
        font-size: 1.8rem;

    }

    #textBox h2 {
        font-size: 2.2rem;
        width: 100%;
    }

    #textBox p {
        font-size: 18px;
    }

    #imgBox .guyImg {
        width: 800px;
        height: 800px;
        position: relative;
        right: 55%;
        bottom: -10px;

    }
}


@media (max-width:750px) {
    #textBox {
        width: 100%;
        height: 100%;
    }

    .inputBx input {
        padding: 15px 15px;
        background-color: rgb(255, 255, 255, 0.5);
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    #imgBox .guyImg {
        width: 800px;
        height: 800px;
        position: absolute;
        left: 240px;
        /* bottom: 50rem; */
        z-index: 1;

    }

    #imgBox {
        position: relative;
    }

    .delivery-banner {

        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

}

@media (max-width:670px) {
    .inputBx {

        display: flex;
        flex-direction: column;
        gap: 24px;


    }

    #textBox {
        padding: 30px 30px;
        position: relative;
        z-index: 2;
    }
}

@media (max-width:600px) {
    #textBox {
        padding: 30px 20px;
        position: relative;
        z-index: 2;
    }
    .inputBx input {
        padding: 10px 15px;
        font-size: 16px;
    }
    .btns .btn {

        padding: 10px 15px;
        font-size: 10px;
    
    }
    .inputBx {
        gap: 18px;
    
    
    }
}